<html>
  <head>
    <title>Budget App</title>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="app">
      <div id="header">
        <h1><i>BudgetApp</i></h1>
        <!-- Select a month -->
        <select v-model="selectedMonth" class="month">
          <option :value="null">Add Next Month</option>
          <option v-for="month in months" :value="month">
            <b>{{monthWords[month.month-1]}}, {{month.year}}</b>
          </option>
        </select>
      </div>

      <!-- List of categories -->
      <ul>
        <li v-for="category in categories">
          {{category.name}} (${{category.planned_expenses}} planned)
        </li>
      </ul>

      <!-- List of items -->
      <ul>
        <li v-for="item in items">
          {{item.name}} (${{item.cost}})
        </li>
      </ul>
    </div>
  </body>
  <script>
    var vm = new Vue({
      el: '#app',
      data: () => ({
        months: [],
        items: [],
        categories: [],
        selectedMonth: null,
        monthWords: [
          'January',
          'February',
          'March',
          'April',
          'May',
          'June',
          'July',
          'August',
          'September',
          'October',
          'November',
          'December',
        ],
      }),
      created() {
        this.reloadMonths();
      },
      computed: {
        nextMonth() {
          return this.months.length > 0 ? {
            month: this.months[0].month < 12 ? this.months[0].month + 1 : 1,
            year: this.months[0].month < 12 ? this.months[0].year : this.months[0].year + 1,
            planned_income: 0,
          } : {
            month: (new Date()).getMonth() + 1,
            year: (new Date()).getFullYear(),
            planned_income: 0,
          };
        },
        currentMonth() {
          return this.months.find(month => month.month == (new Date()).getMonth()+1 && month.year == (new Date()).getFullYear());
        },
      },
      watch: {
        selectedMonth(val) {
          if (val) {
            Promise.all([
              this.getMonthItems(val.month, val.year),
              this.getMonthCategories(val.month, val.year),
            ]).then(results => {
              const [items, categories] = results;
              this.items = items;
              this.categories = categories;
            });
          } else {
            this.items = [];
            this.categories = [];
            this.addNextMonth();
          }
        },
      },
      methods: {
        // ACTIONS
        addNextMonth() {
            this.addMonth(this.nextMonth).then(() => {
              this.months.unshift(this.nextMonth);
              this.selectedMonth = this.months[0];
            }).catch(error => console.log(error));
        },
        reloadMonths() {
          this.getMonths().then(months => {
            this.months = months;
            if (this.months.length > 0) {
              if (this.selectedMonth) {
                this.selectedMonth = this.months.find(m => m.month == this.selectedMonth.month && m.year == this.selectedMonth.year);
              } 

              if (!this.selectedMonth) {
                if (this.currentMonth) {
                  this.selectedMonth = this.currentMonth;
                } else {
                  this.selectedMonth = this.months[0];
                }
              }
            } else {
              this.addNextMonth();
            }
          });
        },

        // API CALLS
        addMonth(m) {
          return axios.post(`month/${m.month}/${m.year}/${m.planned_income}`);
        },
        getMonths() {
          return axios.get('months').then(result => result.data.sort((a,b) => {
            return (100*b.year+b.month) - (100*a.year+a.month);
          }));
        },
        getMonthItems(m, y) {
          return axios.get(`items/${m}/${y}`).then(result => result.data);
        },
        getCategoryItems(m, y, c) {
          return axios.get(`items/${m}/${y}/${c}`).then(result => result.data);
        },
        getMonthCategories(m, y) {
          return axios.get(`categories/${m}/${y}`).then(result => result.data);
        },
      },
    });
  </script>
</html>
