<html>
<head>
    <title>Budget App</title>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="app">

    <!-- HEADER -->
    <div id="header">
        <h1><i>BudgetApp</i></h1>

        <!-- Select a month -->
        <select v-model="selectedMonth" class="month">
            <option :value="null">Add Next Month</option>
            <option v-for="month in months" :value="month">
                <b>{{monthWords[month.month-1]}}, {{month.year}}</b>
            </option>
        </select>

        <!-- Planned income -->
        <table style="margin-top: 33px" v-if="selectedMonth">
            <tr class="bb">
                <td><b>Income</b></td>
                <td class="tar">
                    <input type="text" class="tar" v-model="selectedMonth.planned_income" size="4" @blur="updateSelectedMonth" @focus=""/>
                </td>
            </tr>
            <tr class="bb">
                <td>
                    <b v-if="selectedMonth.planned_income >= totalPlannedExpenses">Planned Surplus</b>
                    <b v-else>Planned Deficit</b>
                </td>
                <td class="tar diff" :class="{ 'neg': totalPlannedExpenses > selectedMonth.planned_income }">
                    {{selectedMonth.planned_income - totalPlannedExpenses}}
                </td>
            </tr>
            <tr class="bb">
                <td>
                    <b v-if="selectedMonth.planned_income >= totalCurrentExpenses">Current Surplus</b>
                    <b v-else>Current Deficit</b>
                </td>
                <td class="tar diff" :class="{ 'neg': totalCurrentExpenses > selectedMonth.planned_income }">
                    {{selectedMonth.planned_income - totalCurrentExpenses}}
                </td>
            </tr>
        </table>
    </div>

    <div id="content" v-if="selectedMonth">
        <!-- List of categories -->
        <table>
            <tr class="bb">
                <td></td>
                <td></td>
                <td class="tar"><b>Planned</b></td>
                <td class="tar"><b>Current</b></td>
                <td class="tar"><b>Difference</b></td>
            </tr>
            <tr class="bb">
                <td></td>
                <td><b>Total Expenses</b></td>
                <td class="tar">{{totalPlannedExpenses}}</td>
                <td class="tar">{{totalCurrentExpenses}}</td>
                <td class="tar diff" :class="{ 'neg' : totalCurrentExpenses > totalPlannedExpenses }">
                    {{totalPlannedExpenses - totalCurrentExpenses}}
                </td>
            </tr>
            <tr v-for="category in categories" :class="{ 'error': category.error }">
                <td class="btntd"><button v-if="!categoryItemCount[category.name]" @click="removeCategory(category)">x</button></td>
                <td v-if="!category.unsaved">{{category.name}}</td>
                <td v-else><input type="text" v-model="category.name" @blur="handleCategoryChange(category)"/></td>
                <td class="tar"><input type="text" size="4" v-model="category.planned_expenses" @blur="handleCategoryChange(category)" class="tar"/></td>
                <td class="tar">{{categoryCurrentExpenses[category.name]}}</td>
                <td class="tar diff" :class="{ 'neg': categoryCurrentExpenses[category.name] > category.planned_expenses }">
                    {{category.planned_expenses - categoryCurrentExpenses[category.name]}}
                </td>
            </tr>
            <tr class="sa">
                <td></td>
                <td><a @click="createNewCategory">+ Add Category</a></td>
                <td class="tar"></td>
                <td class="tar"></td>
                <td class="tar"></td>
            </tr>
        </table>

        <!-- List of items -->
        <table>
            <tr class="bb">
                <td></td>
                <td><b>Date</b></td>
                <td><b>Item</b></td>
                <td><b>Category</b></td>
                <td class="tar"><b>Cost</b></td>
            </tr>
            <tr v-for="item in items" :class="{ 'error': item.error }">
                <td class="btntd"><button @click="removeItem(item)">x</button></td>
                <td>{{selectedMonth.month}}/<input type="text" v-model="item.day" size="2" @blur="handleItemChange(item)"/></td>
                <td><input type="text" v-model="item.name" @blur="handleItemChange(item)"/></td>
                <td>
                    <select v-model="item.category_name" @change="handleItemChange(item)">
                        <option value="" v-if="item.category_name==''">Select Category</option>
                        <option v-for="category in savedCategories" :value="category.name">
                            {{category.name}}
                        </option>
                    </select>
                </td>
                <td class="tar"><input type="text" v-model="item.cost" size="4" class="tar" @blur="handleItemChange(item)"/></td>
            </tr>
            <tr class="sa" v-if="categories.length > 0">
                <td></td>
                <td colspan="2"><a @click="createNewItem">+ Add Item</a></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: () => ({
            months: [],
            items: [],
            categories: [],
            selectedMonth: null,
            monthWords: [
                'January',
                'February',
                'March',
                'April',
                'May',
                'June',
                'July',
                'August',
                'September',
                'October',
                'November',
                'December',
            ],
        }),
        created() {
            this.reloadMonths();
        },
        computed: {
            nextMonth() {
                return this.months.length > 0 ? {
                    month: this.months[0].month < 12 ? this.months[0].month + 1 : 1,
                    year: this.months[0].month < 12 ? this.months[0].year : this.months[0].year + 1,
                    planned_income: 0,
                } : {
                    month: (new Date()).getMonth() + 1,
                    year: (new Date()).getFullYear(),
                    planned_income: 0,
                };
            },
            currentMonth() {
                return this.months.find(month => month.month == (new Date()).getMonth()+1 && month.year == (new Date()).getFullYear());
            },
            totalPlannedExpenses() {
                return this.categories.reduce((tpe, category) => {
                    return parseInt(category.planned_expenses) ? tpe+parseInt(category.planned_expenses) : tpe;
                }, 0);
            },
            totalCurrentExpenses() {
                return this.items.reduce((tae, item) => {
                    return parseInt(item.cost) ? tae+parseInt(item.cost) : tae;
                }, 0);
            },
            categoryCurrentExpenses() {
                return this.categories.reduce((cae, category) => ({
                    ...cae,
                    [category.name]: this.items.filter(item => item.category_name==category.name).reduce((ae, item) => {
                        return parseInt(item.cost) ? ae+parseInt(item.cost) : ae;
                    }, 0),
                }), {});
            },
            highestDay() {
                return this.items.reduce((hd, item) => hd > item.day ? hd : item.day, 1);
            },
            categoryItemCount() {
                return this.categories.reduce((cic, category) => ({
                    ...cic,
                    [category.name]: this.items.filter(item => item.category_name == category.name).length,
                }), {});
            },
            savedCategories() {
                return this.categories.filter(category => !category.unsaved);
            },
            sortedCategories() {
                return this.categories.sort((a,b) => {
                    const ape = parseInt(a.planned_expenses);
                    const bpe = parseInt(b.planned_expenses);
                    const aae = this.categoryCurrentExpenses[a.name];
                    const bae = this.categoryCurrentExpenses[b.name];
                    if (aae && bae) {
                        return bae - aae;
                    } else {
                        return bpe - ape;
                    }
                });
            },
        },
        watch: {
            selectedMonth(val) {
                if (val) {
                    Promise.all([
                        this.getMonthItems(val.month, val.year),
                        this.getMonthCategories(val.month, val.year),
                    ]).then(results => {
                        const [items, categories] = results;
                        this.items = items;
                        this.categories = categories;
                    });
                } else {
                    this.items = [];
                    this.categories = [];
                    this.addNextMonth();
                }
            },
            items(val) {
                this.categories = this.sortedCategories;
            },
        },
        methods: {
            // ACTIONS
            addNextMonth() {
                this.addMonth(this.nextMonth).then(() => {
                    this.months.unshift(this.nextMonth);
                    this.selectedMonth = this.months[0];
                }).catch(error => console.log(error));
            },
            reloadMonths() {
                this.getMonths().then(months => {
                    this.months = months;
                    if (this.months.length > 0) {
                        if (this.selectedMonth) {
                            this.selectedMonth = this.months.find(m => m.month == this.selectedMonth.month && m.year == this.selectedMonth.year);
                        }

                        if (!this.selectedMonth) {
                            if (this.currentMonth) {
                                this.selectedMonth = this.currentMonth;
                            } else {
                                this.selectedMonth = this.months[0];
                            }
                        }
                    } else {
                        this.addNextMonth();
                    }
                });
            },
            updateSelectedMonth() {
                if (this.selectedMonth && this.selectedMonth.planned_income) {
                    this.updateMonth(this.selectedMonth);
                }
            },
            createNewItem() {
                if (this.categories.length > 0) {
                    this.items.push({
                        day: '',
                        month: this.selectedMonth.month,
                        year: this.selectedMonth.year,
                        name: '',
                        cost: '',
                        category_name: '',
                    });
                }
            },
            createNewCategory() {
                this.categories.push({
                    month: this.selectedMonth.month,
                    year: this.selectedMonth.year,
                    name: '',
                    planned_expenses: '',
                    unsaved: true,
                });
            },
            handleItemChange(item) {
                if (item && parseInt(item.cost) >= 0 && item.name.length > 0 && item.category_name.length > 0 && item.day > 0 && item.day <= 31) {
                    if (item.id) {
                        this.updateItem(item)
                            .then(() => item.error = null)
                            .catch(error => item.error = error.message);
                    } else {
                        this.newItem(item).then(results => {
                            item.id = results.data;
                            item.error = null;
                        }).catch(error => item.error = error.message);
                    }
                }
                if (item && item.day > 0 && item.day <= 31) {
                    this.items = this.items.sort((a,b) => a.day - b.day);
                }
            },
            handleCategoryChange(category) {
                if (category && parseInt(category.planned_expenses) >= 0 && category.name.length > 0) {
                    (category.unsaved ? this.addCategory(category) : this.updateCategory(category))
                        .then(() => {
                            category.unsaved = false;
                            category.error = null;
                        }).catch(error => category.error = error.message);
                }
                this.categories = this.sortedCategories;
            },
            removeItem(item) {
                if (item.id) {
                    this.deleteItem(item).then(() => {
                        this.items = this.items.filter(i => i.id != item.id);
                    });
                } else {
                    this.items = this.items.filter(i => i !== item);
                }
            },
            removeCategory(category) {
                if (category.unsaved) {
                    this.categories = this.categories.filter(c => c !== category);
                } else if (!this.categoryItemCount[category.name]) {
                    this.deleteCategory(category).then(() => {
                        this.categories = this.categories.filter(c => c.name != category.name);
                    });
                }
            },

            // API CALLS
            updateItem(item) {
                return axios.put(`item/${item.id}/${item.month}/${item.year}/${item.category_name}/${item.cost}/${item.day}/${item.name}`);
            },
            newItem(item) {
                return axios.post(`item/${item.month}/${item.year}/${item.category_name}/${item.cost}/${item.day}/${item.name}`);
            },
            deleteItem(item) {
                return axios.delete(`item/${item.id}`);
            },
            updateMonth(m) {
                return axios.put(`month/${m.month}/${m.year}/${m.planned_income}`);
            },
            addMonth(m) {
                return axios.post(`month/${m.month}/${m.year}/${m.planned_income}`);
            },
            addItem(item) {
                return axios.post(`item/${item.month}/${item.year}/${item.category_name}/${item.cost}/${item.day}/${item.name}`);
            },
            addCategory(category) {
                return axios.post(`category/${category.month}/${category.year}/${category.name}/${category.planned_expenses}`);
            },
            updateCategory(category) {
                return axios.put(`category/${category.month}/${category.year}/${category.name}/${category.planned_expenses}`);
            },
            deleteCategory(category) {
                if (this.categoryItemCount[category.name]) {
                    return Promise.reject("There are already items associated with this category!");
                } else {
                    return axios.delete(`category/${category.month}/${category.year}/${category.name}`);
                }
            },
            getMonths() {
                return axios.get('months').then(result => result.data.sort((a,b) => {
                    return (100*b.year+b.month) - (100*a.year+a.month);
                }));
            },
            getMonthItems(m, y) {
                return axios.get(`items/${m}/${y}`).then(result => result.data.sort((a,b) => {
                    return a.day - b.day;
                }));
            },
            getCategoryItems(m, y, c) {
                return axios.get(`items/${m}/${y}/${c}`).then(result => result.data);
            },
            getMonthCategories(m, y) {
                return axios.get(`categories/${m}/${y}`).then(result => result.data);
            },
        },
    });
</script>
</html>
