body {
    margin: 0;
    background: #eeeeee;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 560px;
    height: 133px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 7px 20px;
    background: white;
}
#header h1 {
    margin-top: 11px;
    font-size: 24px;
}
#app {
    width: 600px;
    padding-top: 133px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px black;
    background: white;
}
#content {
    padding: 20px;
}
.tar {
    text-align: right;
}
.tac {
    text-align: center;
}
tr.bb td {
    border-bottom: 1px solid rgb(0, 0, 0);
}
select {
    background: none;
    border: none;
    user-select: none;
    outline: none;
    cursor: pointer;
}
select.month {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 22px;
    padding: 10px;
}
input {
    background: rgba(0,0,0,0.1);
    outline: none;
    border: none;
    min-width: 10px;
    border-radius: 5px;
    font-weight: bold;
    padding: 1px 5px;
    cursor: pointer;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
input:focus {
    background: rgb(0, 0, 0);
    color: white;
}
table {
    width: 100%;
    padding-bottom: 7px;
    margin-top: 20px;
    border-spacing: 0;
}
a {
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
tr.sa td {
    padding-top: 5px;
}
tr.error {
    background: rgba(255, 0, 0, 0.29);
}
.diff {
    color: #008059;
}
.diff.neg {
    color: #ff5100;
    font-weight: bold;
}
button {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    font-weight: bolder;
    border: none;
    font-family: Courier;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
button.remove {
    background: rgba(255, 81, 0, 0.26);
}
button.add {
    background: rgba(0, 128, 89, 0.26);
}
button:hover {
    background: black;
    color: white;
}
.btntd {
    width: 30px;
}
@media screen and (max-width: 600px) {
    #header {
        width: calc(100% - 40px);
        border-left: none;
        border-right: none;
    }
    #app {
        width: 100%;
        box-shadow: none;
    }
    body {
        background: white;
    }
}
@media screen and (max-width: 425px) {
    select.month {
        font-size: 16px;
    }
    #header h1 {
        font-size: 18px;
        margin-top: 9px;
    }
    #header {
        height: 124px;
    }
    #app {
        padding-top: 124px;
    }
}
